/*
Azul #2660A4
celeste #17BEBB
verdoso claro #D4F4DD
carne #E6BEAE
maron claro #B2967D
*/
html {
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #fef9b2;
}
a:hover {
	opacity: 0.4;
}
.titulo {
	text-transform: capitalize;
	text-align: center;
}

.container {
	background: #17bebb; /* color de respaldo*/
	background: -webkit-linear-gradient(
		to right,
		#0ed2f7,
		#b2fefa
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#0ed2f7,
		#b2fefa
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh; /*para extender nuestro degradado*/
	display: flex; /*para centar de manera rapido*/
	align-items: center; /*para centar de manera rapido vertical*/
	justify-content: center; /*para centar de manera rapido horizontal*/
} /*fondo de la pagina web*/
.content {
	max-width: 960px;

	width: 100%;
	height: 80vh;
	background-color: #0ed2f7;
	box-shadow: 0 3px 6px #0191ac, 0 3px 6px rgba(1, 145, 0.23);
	border-radius: 4px;
	position: relative;
	padding: 1.8em;
	/* overflow: scroll; */
}
.actions {
	position: absolute;
	top: 1em;
	right: 1em;
}
.close {
	height: 40px;
	width: 40px;
	color: white;
	border-radius: 50%;
	background-color: #2660a4;
	display: inline-block;
	box-shadow: 0 3px 6px #0191ac, 0 3px 6px rgba(1, 145, 0.23);
	font-weight: 300;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.parrafo {
	line-height: 1.8em;
}
/*Comentario*/
#boton-pago {
	background-color: tomato;
	height: 200px;
	width: 400px;
}
.table {
	width: 100%;
	border-spacing: 0;
}
.table td,
.table th {
	padding: 1em;
	text-align: left;
}
.fa-star {
	color: yellow;
}
.table tr:nth-child(even) {
	background-color: #2660a4;
	color: white;
}
.title-item {
	/*
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #d4f4dd;
	*/
	border-bottom: solid 2px #d4f4dd;
	padding-bottom: 1em; /*para colocar el espacio debajo*/
	font-size: 2em;
}
address {
	font-weight: bold;
	color: #d4f4dd;
	font-size: 1.2em;
	margin-top: 2em;
	display: inline-block;
}
.main-image {
	float: left;
	margin-right: 1em;
	height: 200px;
}
.position {
	background-color: #2660a4;
	color: white;
	padding: 0.5em;
	/*padding: 1em 2em 3em 4em;*/
	border-radius: 4px;
	margin-right: 0.5em;
}
@media (max-width: 600px) {
	.content {
		padding: 1em;
	}
	td {
		display: block;
		width: 100%;
	}
	td:nth-of-type(1) {
		font-size: 1.5em;
		font-weight: bold;
		color: #0191ac;
	}
	th {
		display: none;
	}
}
@media (min-width: 900px) {
	th {
		display: table-cell;
	}
	td {
		width: auto;
		display: table-cell;
	}
	td:nth-of-type(1) {
		font-size: 1em;
	}
	.content {
		padding: 1.8em;
	}
}
@media (min-height: 500px) {
	.content {
		height: 500px;
	}
}
